.header {
    background-color: #000;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 20px;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.header__logo {
    width: clamp(127px,12.4vw, 178px);
    height: auto;
}

.header__nav {
    width: 70%;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
}

.header__nav-item a {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    text-transform: capitalize;
}

@media screen and (min-width: 1440px) {
    .header {
        height: 90px;
        padding: 0 91px 0 28px;
    }
}
