.tooltip-content {
    background-color: #fff;
    padding: 6px;
    font-size: 0.5rem;
}

.tooltip-content p {
    color: #000;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chart-wrapper {
    width: 75%;
    font-size: 0.93rem;
    color: rgba(255, 255, 255, 0.53);
    padding: 29px 0 0 34px;
}

.line-chart-wrapper {
    flex: 1;
    align-self: center;
}
