.icon-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.icon-img {
    width: 50px;
}

@media screen and (min-width: 1440px) {
    .icon-nav {
        gap: 20px;
    }

    .icon-img {
        width: 64px;
    }
}
